<div class="container">
    <form method="get">

        <div class="row">
            <div class="col-xs-4 col-md-4">
                <p>Seleccionados: 3</p>
            </div>
            <div class="col-xs-4 col-md-4">
                <h4>Pollo frito, Hamburguesa, Sushi</h4>
            </div>
            <div class="col-xs-4 col-md-4">
                <h4>Total:
                    <strong>$187.00</strong>
                </h4>
                <h4>Mesa: 7</h4>
                <button class="btn btn-primary">Ordenar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h3>Pollo frito</h3>
                <img class="thumbnail check" src="assets/chicken1.jpeg" alt="">
                <p>$80.00</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <!-- <label class="btn btn-default" [ngClass]="check">
                    <input class="hidden" type="checkbox" id="hamburger" name="hamburger" autocomplete="off" (click)="toggle()"> -->
                <h3>Hamburguesa</h3>
                <img class="thumbnail img-check check" src="assets/hamburger.jpeg" alt="">
                <p>$50.00</p>
                <!-- </label> -->
            </div>
            <div class="col-xs-12 col-md-4">
                <!-- <label class="btn btn-default" [ngClass]="check">
                    <input class="hidden" type="checkbox" id="hamburger" name="hamburger" autocomplete="off" (click)="toggle()"> -->
                <h3>Alitas de Pollo</h3>
                <img class="thumbnail" src="assets/chickenWings.jpeg" alt="">
                <!-- </label> -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h3>Omelete</h3>
                <img class="thumbnail" src="assets/omelete.jpeg" alt="">
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Ensalada con huevo</h3>
                <img class="thumbnail" src="assets/salad1.jpeg" alt="">
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Plato de ensalada</h3>
                <img class="thumbnail" src="assets/salad2.jpeg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h3>Salmón</h3>
                <img class="thumbnail" src="assets/salmon.jpeg" alt="">
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Sushi</h3>
                <img class="thumbnail check" src="assets/sushi.jpeg" alt="">
                <p>$57.00</p>
            </div>
        </div>
    </form>
</div>