<div class="container">
  <h2>Nuevas ordenes</h2>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Agua Mineral</h3>
      <img class="thumbnail" src="assets/mineral_water1.jpeg" alt="">
      <button class="btn btn-primary">Hecho</button>
      <button class="btn btn-default">Reportar</button>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Jugo de Naranja</h3>
      <img class="thumbnail" src="assets/orangeJuice.jpeg" alt="">
      <button class="btn btn-primary">Hecho</button>
      <button class="btn btn-default">Reportar</button>
      <!-- </label> -->
    </div>
</div>