<div class="container">

  <div class="row">
    <div class="col-xs-4 col-md-4">
      <p>Seleccionados: 5</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <h4>Pollo frito, Hamburguesa, Sushi, Agua Mineral, Jugo de Naranja</h4>
    </div>
    <div class="col-xs-4 col-md-4">
      <h4>Total:
        <strong>$224.00</strong>
      </h4>
      <h4>Mesa: 7</h4>
      <button class="btn btn-primary">Ordenar</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Agua Mineral</h3>
      <img class="thumbnail check" src="assets/mineral_water1.jpeg" alt="">
      <p>$25.00</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Café</h3>
      <img class="thumbnail" src="assets/coffee1.jpeg" alt="">
      <p>$25.00</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Cerveza</h3>
      <img class="thumbnail" src="assets/beer1.jpeg" alt="">
      <p>$27.00</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Vino</h3>
      <img class="thumbnail" src="assets/wine1.jpeg" alt="">
      <p>$68.00</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Smoothie de Fresa</h3>
      <img class="thumbnail" src="assets/smoothieFresa.jpeg" alt="">
      <p>$20.00</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Jugo de Naranja</h3>
      <img class="thumbnail check" src="assets/orangeJuice.jpeg" alt="">
      <p>$12.00</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Coca Cola</h3>
      <img class="thumbnail" src="assets/coke1.jpeg" alt="">
      <p>$12.00</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Té</h3>
      <img class="thumbnail" src="assets/tea1.jpeg" alt="">
      <p>$18.00</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Malteada de Fresa</h3>
      <img class="thumbnail" src="assets/milkshake1.jpeg" alt="">
      <p>$20.00</p>
    </div>
  </div>
</div>