<div class="container">
  <h2>Nuevas ordenes</h2>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Pollo frito</h3>
      <img class="thumbnail" src="assets/chicken1.jpeg" alt="">
      <button class="btn btn-primary">Hecho</button>
      <button class="btn btn-default">Reportar</button>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Hamburguesa</h3>
      <img class="thumbnail" src="assets/hamburger.jpeg" alt="">
      <button class="btn btn-primary">Hecho</button>
      <button class="btn btn-default">Reportar</button>
      <!-- </label> -->
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Sushi</h3>
      <img class="thumbnail" src="assets/sushi.jpeg" alt="">
      <button class="btn btn-primary">Hecho</button>
      <button class="btn btn-default">Reportar</button>
    </div>
  </div>
</div>