<div class="container">
  <h2>Ordenes Listas</h2>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Pollo frito</h3>
      <img class="thumbnail" src="assets/chicken1.jpeg" alt="">
      <label class="label label-success">Preparada</label>
      <label class="label label-default">Mesa 7</label>
      <button class="btn btn-primary">Entregada</button>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Hamburguesa</h3>
      <img class="thumbnail" src="assets/hamburger.jpeg" alt="">
      <label class="label label-info">Pendiente</label>
      <label class="label label-default">Mesa 7</label>
      <!-- </label> -->
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Sushi</h3>
      <img class="thumbnail" src="assets/sushi.jpeg" alt="">
      <label class="label label-warning">Reportada</label>
      <label class="label label-default">Mesa 7</label>
      <button class="btn btn-danger">Borrar</button>
    </div>
  </div>
</div>