<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <p class="saludo">Bienvenid@</p>
      <form class="numeroMesa">
        <input type="text" placeholder="Número de Mesa">
        <button class="btn btn-primary">Aceptar</button>
      </form>
      <br>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <img src="assets/restaurant.jpg" alt="" class="bg">
  <!-- <div class="row bg">
    <div class="col-xs-12 col-md-12">
      <img src="assets/restaurant.jpg" alt="" class="bg">
    </div>
  </div> -->